
*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(29, 94, 27);
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
@import 'navigation.scss';
@import 'section.scss';